<section>
    <h2>Entre como participante</h2>
    <form action="">
        <label class="sr-only" for="room-id">C칩digo da sala</label>
        <input type="number" id="room-id" placeholder="C칩digo da sala">
        <button>
            <img src="images/enter-room.svg" alt="Entrar na sala">
            Entrar na sala
         </button>
    </form>
</section>

<div class="separator">
    <div></div>
    <div>ou</div>
    <div></div>
</div>

<section>
     <h2>Crie sua pr칩pria sala de forma f치cil</h2>
     <a href="/create-pass" class="button outlined">
        <img src="images/users.svg" alt="Criar Sala"> 
        Criar Sala                      
     </a>
</section>
